h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}
p{
    font-size: 35px;
}
button{
    background-color: blue;
    border: blue;
    padding: 60px;
}
button:hover{
    background-color: red !important;
    cursor: auto;
}